<div class="main-card">
    <section class="card-header">Ingresar los datos del nuevo usuario</section>
    <section class="card-body">

        <form [formGroup]="registerForm" class="grilla">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input formControlName="usuario" matInput placeholder="Usuario" required>
                    <mat-error *ngIf="usuario.errors && usuario.errors.required">Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="existUser">Este usuario ya existe</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>clave</mat-label>
                    <input formControlName="clave" matInput placeholder="clave" required>
                    <mat-error *ngIf="clave.errors && clave.errors.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput placeholder="nombre">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellido" matInput placeholder="apellido">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Activo</mat-label>
                    <mat-select formControlName="activo" required>
                        <mat-option *ngFor="let op of options" [value]="op.valor">
                            {{op.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Direccion</mat-label>
                    <input formControlName="direccion" matInput placeholder="direccion">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="telefono" matInput placeholder="telefono">
                </mat-form-field>
            </div>

            <div class="row">

                <div class="img-cont">
                    <img *ngIf="!isFoto" src="{{imgPlaceHolder}}" alt="">
                    <img *ngIf="isFoto" src="{{getfoto()}}" alt="">
                    <div>
                        <input type="file" name="file" id="file" class="inputfile" accept="image/*" (change)="uploadPhoto($event)">
                        <label *ngIf="!isFoto" for="file" class="foto-perfil">Foto de Derfil</label>
                        <label *ngIf="isFoto" class="foto-perfil" (click)="deleteFoto()">Quitar</label>
                    </div>
                </div>

                <div class="foto-conteines">
                    <h5 class="error">{{respmsgErr}}</h5>
                    <h5 class="ok">{{respmsgOk}}</h5>
                </div>

            </div>
            <section class="btn-add" *ngIf="!isEditing">
                <p-button *ngIf="!loadind" label="Agregar" [disabled]="!registerForm.valid" styleClass="p-button-lg" (onClick)="addUser()" class="add-btn"></p-button>
                <p-button *ngIf="loadind" label="Guardando..." [disabled]="true" styleClass="p-button-lg" class="add-btn"></p-button>
            </section>

            <section class="btn-edit" *ngIf="isEditing">
                <p-button [disabled]="loadind" label="Cancelar" (onClick)="cancelEdit()" styleClass="p-button-lg"></p-button>
                <p-button *ngIf="!loadind" label="guardar" [disabled]="!registerForm.valid" styleClass="p-button-lg" (onClick)="confirmEdit()"></p-button>
                <p-button *ngIf="loadind" label="Guardando..." [disabled]="true" styleClass="p-button-lg"></p-button>
            </section>

        </form>
    </section>
</div>