mat-sidenav-container {
    background-color: ver(--bg-grey-color);
    height: calc(100% - 60px);
    z-index: 1;
}

mat-sidenav {
    width: 25vw;
    min-width: 150px;
    max-width: 300px;
    background-color: var(--bg-grey-color);
}

mat-sidenav-content {
    background-color: var(--bg-grey-color);
    padding: 20px;
}