.menu-content {
    width: 100%;
    background-color: salmon;
    height: 100%;
    padding: 40px 15px 20px;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: seagreen;
    margin: 5px 0px;
    img {
        // font-size: clamp(27px, 2.5vw, 2rem);
        width: clamp(25px, 2.5vw, 2rem);
        margin-right: 15px;
    }
}

.item-name {
    margin: 0px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 300;
    vertical-align: middle;
    text-transform: capitalize;
}

.spacer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--bg-grey-color);
    border-top: 1px solid var(--bg-grey-color);
    border-bottom: 1px solid var(--bg-grey-color);
    height: 40px;
    margin: 30px -20px 10px;
    h6 {
        margin: 0px;
        padding-left: 10px;
    }
}

.item-spacer {
    height: 1px;
    border-top: 1px solid var(--bg-grey-color);
}