<div class="menu-content">
    <div class="menu-item">
        <img src="../../../assets/icons/home.svg" alt="">
        <h4 class="item-name">Home</h4>
    </div>

    <section class="spacer">
        <h6>Acciones</h6>
    </section>

    <div class="menu-item">
        <img src="../../../assets/icons/people_alt.svg" alt="">
        <h4 class="item-name">ver todos</h4>
    </div>

    <div class="item-spacer"></div>

    <div class="menu-item">
        <img src="../../../assets/icons/control_point.svg" alt="">
        <h4 class="item-name">agregar</h4>
    </div>
    <div class="item-spacer"></div>







</div>