.loanding {
    display: grid;
    place-items: center;
    min-height: 50vh;
}

.error {
    padding: 20px 10px;
    h4 {
        color: var(--danger-color);
    }
}

.avatar-img {
    border-radius: 50%;
    margin-right: 10px;
}
